<h1>New Business</h1>

<%= form_for(@business) do |f| %>
  <%= f.label(:name)%>
  <%= f.text_field(:name) %>
  <%= f.label(:business_type)%>
  <%= f.text_field(:business_type) %>
  <%= f.label "Business Logo" %>
  <%= f.file_field :logo %>
  <%= f.submit "Create Business"%>
<%end%>
