<style type="text/css">
table,
td {
  border: 1px solid black;
  text-align: center;
}
thead {
  font-weight: bold;
}
</style>

<%= link_to "All Businesses", businesses_path %>
<%= link_to "All Jobs", jobs_path %>
<table>
  <thead>
    <tr>
      <th colspan="5"><%= @business.name %> Jobs</th>
    </tr>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Pay</td>
      <td>Available?</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <% @business.jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td>$<%= job.pay %></td>
        <td><%= job.available ? "Yes" : "No" %></td>
        <td>
          <%=
            link_to "Delete Me",
            business_job_path(:business_id => @business.id, :id => job.id),
            method: :delete,
            id: "delete-job-#{job.id}"
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Job", new_business_job_path(:business_id => @business.id), id: "add-job-#{@business.name}" %>
