<style type="text/css">
table,
td {
  border: 1px solid black;
  text-align: center;
}
thead {
  font-weight: bold;
}
</style>

<% if @business.logo.attached? %>
  <% image_source = url_for(@business.logo) %>
  <% image_id = "custom-logo"%>
<% else %>
  <% image_source = '/business.jpg' %>
  <% image_id = "default-logo" %>
<% end %>

<img id="<%=image_id %>" src="<%= image_source %>">          

<table>
  <thead>
    <tr>
      <th colspan="4"><%= @business.name %> Jobs</th>
    </tr>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Pay</td>
      <td>Availabilty</td>
    </tr>
  </thead>
  <tbody>
    <% @business.jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td>$<%= job.pay %></td>
        <td><%= job.available %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "BACK TO BUSINESSES", businesses_path %>
<%= link_to "Add Job", new_business_job_path(:business_id => @business.id), id: "add-job-#{@business.name}" %>
