<style type="text/css">
div {
  display: flex;
  flex-direction: row;
}
.subcontainer {
  flex-direction: column;
}
table,
td {
  border: 1px solid black;
  text-align: center;
}
thead {
  font-weight: bold;
}
</style>

<% if @business.logo.attached? %>
  <% image_source = url_for(@business.logo) %>
  <% image_id = "custom-logo"%>
<% else %>
  <% image_source = '/business.jpg' %>
  <% image_id = "default-logo" %>
<% end %>

<ul>
  <%= link_to "All Businesses", businesses_path %>
  <%= link_to "All Jobs", jobs_path %>
</ul>

<div css="display: flex">
  <img id="<%=image_id %>" src="<%= image_source %>">
  <div class="subcontainer">
    <table>
      <thead>
        <tr>
          <th colspan="5">Jobs: <%= @business.name %></th>
        </tr>
        <tr>
          <td>Title</td>
          <td>Description</td>
          <td>Pay</td>
          <td>Available?</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <% @business.jobs.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job.description %></td>
            <td>$<%= job.pay %></td>
            <td><%= job.available ? "Yes" : "No" %></td>
            <td>
              <%=
                link_to "Delete Me",
                business_job_path(:business_id => job.business.id, :id => job.id),
                method: :delete,
                id: "delete-job-#{job.id}"
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add Job", new_business_job_path(:business_id => @business.id), id: "add-job-#{@business.name}" %>
  </div>
</div>
