<style type="text/css">
table,
td {
  border: 1px solid black;
  text-align: center;
}
thead {
  font-weight: bold;
}
</style>

<%= link_to "All Businesses", businesses_path %>
<%= link_to "All Jobs", jobs_path %>
<table>
  <thead>
    <tr>
      <th colspan="6">All Jobs</th>
    </tr>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Pay</td>
      <td>Availabilty</td>
      <td>Business</td>
      <td>View Business</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.pay %></td>
        <td><%= job.available %></td>
        <td><%= job.business.name %></td>
        <td><%= link_to "View #{job.business.name}", business_path(:id => job.business.id) %>
        <td>
          <%=
            link_to "Delete Me",
            business_job_path(:business_id => job.business.id, :id => job.id),
            method: :delete,
            id: "delete-job-#{job.id}"
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
