<h2>Add a Job</h2>
<%= form_for(@job) do |j| %>
  <%= j.label(:title) %>
  <%= j.text_field(:title) %>
  <%= j.label(:description) %>
  <%= j.text_field(:description) %>
  <%= j.label(:pay)%>
  <%= j.text_field(:pay) %>
  <%= j.label(:availability)%>
  <select name="availability" id="availability">
    <option value="true">available</option>
    <option value="false">unavailable</option>
  </select>
  <%= hidden_field_tag 'business_id', @business_id %>
  <%= j.submit %>
<% end %>
